<div class="modal-contet">
  <div class="modal-header">
    <h3 class="modal-title">Article form</h3>
  </div>
  <div class="modal-body">
    <%= form_with model: @store do |f| -%>
      <div class="alert alert-danger" style="display: none" id="record-errors"></div>
      <div class="row">
        <div class="row">
          <div class="col-sm-6">
            <td><%= f.label :article -%> *</td>
            <td><%= f.text_field :article, required: true, class: 'form-control' -%></td>
          </div>
          <div class="col-sm-6">
            <td></td>
            <td></td>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <td><%= f.label :state -%> *</td>
            <td><%= f.text_field :state, required: true, class: 'form-control' -%></td>
          </div>
          <div class="col-sm-6">
            <td><%= f.label :price -%> *</td>
            <td><%= f.text_field :price, required: true, class: 'form-control' -%></td>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <td><%= f.label :in_warehouse -%> *</td>
            <td><%= f.text_field :in_warehouse, required: true, class: 'form-control' -%></td>
          </div>
          <div class="col-sm-6">
            <td><%= f.label :on_counter -%> *</td>
            <td><%= f.text_field :on_counter, required: true, class: 'form-control' -%></td>
          </div>
        </div>
      </div>
      <div class="modal-footer p-3">
        <div class="container text-end">
          <%= link_to "Close", stores_path, class: 'btn btn-secondary' %>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    <% end %>
  </div>
</div>